.container {
  padding: 0; }

header {
  background-color: black; }
  header .div {
    padding: 0; }
    header .div .AXiT {
      color: white;
      font-size: 40px;
      text-decoration: none;
      margin-right: 20px; }
    header .div .iT {
      color: #FF9B51; }
    header .div nav {
      list-style-type: none; }
    header .div li {
      text-decoration: none;
      color: white;
      font-size: 15px;
      margin-right: 25px; }
      header .div li:last-child {
        margin-right: 0; }
      header .div li .li {
        color: white;
        font-size: 20px;
        text-decoration: none; }

.bg {
  width: 100%;
  height: 700px;
  background-image: url(http://i.imgur.com/uE5j5Pb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .bg .h-AX {
    font-size: 70px;
    color: white; }
    .bg .h-AX .iT {
      color: #FF9B51; }
  .bg .f-p {
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0; }
  .bg .stick {
    background-color: white;
    width: 100px;
    height: 2px;
    margin: 40px 0; }
  .bg .sec-p {
    color: white; }
  .bg .dawn {
    padding: 10px 30px;
    margin-top: 30px;
    background: none;
    color: white;
    border: solid; }

.sec-bg-div {
  background-color: white; }
  .sec-bg-div .iT {
    color: #FF9B51; }
  .sec-bg-div .sec-bg-div-p {
    color: black;
    margin: 0;
    background-color: #F5F5F5;
    padding: 10px 35px;
    margin-bottom: 30px; }
  .sec-bg-div .f-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sec-bg-div .f-form .f-input {
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid grey;
      padding-left: 10px;
      width: 250px; }
  .sec-bg-div input:focus {
    outline: none; }
  .sec-bg-div .get-started {
    background-color: #FF9B51;
    padding: 10px 50px;
    border: none;
    width: 300px;
    color: white; }

.social-sect .social-h {
  font-size: 40px;
  margin: 0; }

.social-sect .soc-img-div:last-child {
  margin: 0; }

.social-sect .soc-img-div .social-img {
  height: 50px;
  margin-right: 10px; }

.tab-sect {
  padding: 100px 0;
  background-color: #F5F5F5; }
  .tab-sect .tab-butt-div {
    flex-direction: column; }
    .tab-sect .tab-butt-div .tab-butt {
      background-color: black;
      color: white;
      padding: 35px;
      border: 1px solid grey; }
  .tab-sect .tab-artc-div .tab-h {
    margin-bottom: 30px; }
  .tab-sect .tab-artc-div .tab-p {
    margin-bottom: 30px; }
  .tab-sect .tab-artc-div .orange-down {
    background-color: #FF9B51;
    padding: 10px 30px;
    border: none;
    color: white; }
  .tab-sect .build {
    width: 250px; }
