.container {
  padding: 0; }

.awe-p {
  font-family: 'Vidaloka-Regular'; }

input:focus {
  outline: none; }

button:focus {
  outline: none; }

header {
  background-color: black; }
  header .container {
    padding: 0; }
    header .container .AXiT {
      color: white;
      font-size: 40px;
      text-decoration: none;
      margin-right: 20px; }
    header .container .iT {
      color: #FF9B51; }
    header .container .nav-box {
      list-style-type: none; }
      header .container .nav-box li {
        font-family: 'Cinzel-Regular';
        text-decoration: none;
        color: white;
        font-size: 15px;
        margin-right: 25px; }
        header .container .nav-box li:last-child {
          margin-right: 0; }
        header .container .nav-box li .li {
          color: white;
          font-size: 20px;
          text-decoration: none;
          transition: color 0.2s ease-in-out 0.2s; }
          header .container .nav-box li .li:hover {
            color: #FF9B51; }

.bg {
  width: 100%;
  height: 700px;
  background-image: url(http://i.imgur.com/uE5j5Pb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .bg .h-AX {
    font-size: 70px;
    color: white; }
    .bg .h-AX .iT {
      color: #FF9B51; }
  .bg .f-p {
    font-family: 'Cinzel-Regular';
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0; }
  .bg .stick {
    background-color: white;
    width: 100px;
    height: 2px;
    margin: 40px 0; }
  .bg .sec-p {
    font-family: 'Vidaloka-Regular';
    color: white; }
  .bg .dawn {
    padding: 10px 30px;
    margin-top: 30px;
    background: none;
    color: white;
    border: solid;
    transition: all 0.2s ease-in-out 0.2s; }
    .bg .dawn:hover {
      background-color: #FF9B51;
      border-radius: 10%; }
    .bg .dawn:focus {
      background-color: grey; }

.sec-bg-div {
  background-color: white; }
  .sec-bg-div .iT {
    color: #FF9B51; }
  .sec-bg-div .sec-bg-div-p {
    color: black;
    margin: 0;
    background-color: #F5F5F5;
    padding: 10px 35px;
    margin-bottom: 30px; }
  .sec-bg-div .f-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sec-bg-div .f-form .f-input {
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid grey;
      padding-left: 10px;
      width: 250px; }
  .sec-bg-div .get-started {
    background-color: #FF9B51;
    padding: 10px 50px;
    border: none;
    width: 300px;
    color: white; }

.social-sect .social-h {
  font-family: 'Cinzel-Regular';
  font-size: 40px;
  margin: 0; }

.social-sect .soc-p {
  font-family: 'Vidaloka-Regular'; }

.social-sect .soc-img-div:last-child {
  margin: 0; }

.social-sect .soc-img-div .social-img {
  height: 50px;
  margin-right: 10px; }

.tab-sect {
  padding: 100px 0;
  background-color: #F5F5F5; }
  .tab-sect .tab-butt-div {
    flex-direction: column; }
    .tab-sect .tab-butt-div .tab-butt {
      background-color: black;
      color: white;
      padding: 35px;
      border: 1px solid grey;
      transition: all 0.2s ease-in-out 0.2s; }
      .tab-sect .tab-butt-div .tab-butt:hover {
        background-color: #FF9B51;
        border: 1px solid #FF9B51; }
  .tab-sect .tab-artc-div .tab-h {
    font-family: 'Cinzel-Regular';
    margin-bottom: 30px; }
  .tab-sect .tab-artc-div .tab-p {
    font-family: 'Vidaloka-Regular';
    margin-bottom: 30px; }
  .tab-sect .tab-artc-div .orange-down {
    background-color: #FF9B51;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: all 0.2s ease-in-out 0.2s; }
    .tab-sect .tab-artc-div .orange-down:hover {
      background-color: #FF9B51;
      border-radius: 10%; }
    .tab-sect .tab-artc-div .orange-down:focus {
      background-color: grey; }
  .tab-sect .build {
    width: 250px; }

.sub-list-sect {
  padding: 100px 0; }
  .sub-list-sect .biss-png {
    width: 400px;
    transition: all 0.2s ease-in-out 0.2s; }
    .sub-list-sect .biss-png:hover {
      width: 550px; }
  .sub-list-sect .sub-list-frs {
    margin-bottom: 30px; }
    .sub-list-sect .sub-list-frs .sub-list-h {
      font-family: 'Cinzel-Regular'; }
    .sub-list-sect .sub-list-frs .sub-list-p {
      font-family: 'Vidaloka-Regular'; }
    .sub-list-sect .sub-list-frs .orange-stick {
      background-color: #FF9B51;
      height: 2px;
      width: 70px;
      margin: 30px 0; }
  .sub-list-sect .title-div {
    margin-bottom: 20px; }
    .sub-list-sect .title-div:last-child {
      margin: 0; }
    .sub-list-sect .title-div .sircle {
      background-color: none;
      border: 2px solid #FF9B51;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      margin-right: 20px;
      transition: all 0.2s ease-in-out 0.2s; }
      .sub-list-sect .title-div .sircle:hover {
        height: 60px;
        width: 60px;
        border-radius: 75%; }
      .sub-list-sect .title-div .sircle .otx {
        width: 10px;
        height: 15px;
        background-color: #FF9B51; }
    .sub-list-sect .title-div .title-div-p {
      font-family: 'Vidaloka-Regular'; }

.standart {
  padding: 100px 0;
  background-color: #F5F5F5; }
  .standart .standart-article .standart-artc-h {
    font-family: 'Cinzel-Regular'; }
  .standart .standart-article .standart-p {
    font-family: 'Vidaloka-Regular'; }
  .standart .standart-article .orange-stick {
    background-color: #FF9B51;
    height: 2px;
    width: 70px;
    margin: 30px 0; }
  .standart .biss-png {
    width: 400px;
    transition: all 0.2s ease-in-out 0.2s; }
    .standart .biss-png:hover {
      width: 440px; }

.awesome {
  padding: 100px 0; }
  .awesome .new-d {
    flex-direction: column; }
    .awesome .new-d .awesome-div {
      flex-direction: column;
      margin-bottom: 50px; }
      .awesome .new-d .awesome-div .awesome-title {
        font-family: 'Cinzel-Regular'; }
      .awesome .new-d .awesome-div .title-stick {
        width: 100px;
        height: 2px;
        background-color: #FF9B51;
        margin: 20px 0; }
      .awesome .new-d .awesome-div .awe-p {
        font-family: 'Vidaloka-Regular'; }
    .awesome .new-d .object-div {
      width: 100%; }
      .awesome .new-d .object-div .design {
        flex-direction: column; }
        .awesome .new-d .object-div .design .object-p {
          font-family: 'Vidaloka-Regular'; }
        .awesome .new-d .object-div .design .object-sircle {
          width: 60px;
          height: 60px;
          border: 2px solid #FF9B51;
          border-radius: 50%;
          transition: all 0.2s ease-in-out 0.2s; }
          .awesome .new-d .object-div .design .object-sircle:hover {
            background-color: #FF9B51; }
          .awesome .new-d .object-div .design .object-sircle:hover .object-otx {
            background-color: white; }
          .awesome .new-d .object-div .design .object-sircle:hover .object-otx-sec {
            background-color: white; }
          .awesome .new-d .object-div .design .object-sircle .object-otx {
            width: 15px;
            height: 20px;
            background-color: #FF9B51;
            transition: all 0.2s ease-in-out 0.2s; }
          .awesome .new-d .object-div .design .object-sircle .object-otx-sec {
            width: 15px;
            height: 20px;
            background-color: #FF9B51;
            margin-right: 10px;
            transition: all 0.2s ease-in-out 0.2s; }
        .awesome .new-d .object-div .design .object-title {
          font-family: 'Cinzel-Regular';
          margin: 20px 0; }

.pricing-sect {
  padding: 100px 0;
  background-color: #F5F5F5; }
  .pricing-sect .pricing-box {
    flex-direction: column; }
    .pricing-sect .pricing-box .pricing-title-div {
      flex-direction: column;
      margin-bottom: 50px; }
      .pricing-sect .pricing-box .pricing-title-div .awesome-title {
        font-family: 'Cinzel-Regular'; }
      .pricing-sect .pricing-box .pricing-title-div .title-stick {
        width: 100px;
        height: 2px;
        background-color: #FF9B51;
        margin: 20px 0; }
    .pricing-sect .pricing-box .pricing-div .basic-div .basic-h {
      font-family: 'Cinzel-Regular';
      background-color: #333333;
      padding: 10px 123px;
      border-bottom: 1px solid white;
      color: white;
      margin: 0;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div .basic-h:hover {
        background-color: #FF9B51; }
    .pricing-sect .pricing-box .pricing-div .basic-div h6 {
      font-family: 'Cinzel-Regular';
      background-color: #333333;
      padding: 10px 125px;
      border-bottom: 1px solid white;
      color: white;
      margin: 0;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div h6:hover {
        background-color: #FF9B51; }
    .pricing-sect .pricing-box .pricing-div .basic-div .anoth-h {
      padding: 10px 119px; }
    .pricing-sect .pricing-box .pricing-div .basic-div .price-p {
      background-color: #333333;
      padding: 10px 100px;
      margin: 0;
      color: white;
      font-size: 30px;
      border-bottom: 5px solid #FF9B51;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p .zero {
        color: white;
        font-size: 70px; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p .free {
        font-size: 15px;
        color: grey;
        transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p:hover {
        background-color: grey; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p:hover .free {
        color: white; }
    .pricing-sect .pricing-box .pricing-div .basic-div .price-p-anoth {
      background-color: #333333;
      padding: 10px 100px;
      margin: 0;
      color: white;
      font-size: 30px;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p-anoth .zero {
        color: white;
        font-size: 70px; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p-anoth .free {
        font-size: 15px;
        color: grey;
        transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p-anoth:hover {
        background-color: grey; }
      .pricing-sect .pricing-box .pricing-div .basic-div .price-p-anoth:hover .free {
        color: white; }
    .pricing-sect .pricing-box .pricing-div .basic-div .add-p {
      background-color: #FF9B51;
      padding: 5px 91px;
      color: white;
      margin: 0;
      font-size: 14px; }
    .pricing-sect .pricing-box .pricing-div .basic-div .basic-list-div {
      width: 100%;
      border-bottom: 1px solid #F5F5F5;
      display: flex;
      background-color: white;
      justify-content: center;
      padding: 5px 0;
      transition: all 0.2s ease 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div .basic-list-div .basic-list {
        font-family: 'Vidaloka-Regular';
        margin: 0;
        font-size: 13px;
        color: grey;
        transition: all 0.2s ease 0.2s; }
      .pricing-sect .pricing-box .pricing-div .basic-div .basic-list-div:hover {
        background-color: #FF9B51; }
      .pricing-sect .pricing-box .pricing-div .basic-div .basic-list-div:hover .basic-list {
        color: white; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div .basic-h {
      font-family: 'Cinzel-Regular';
      background-color: #333333;
      padding: 10px 123px;
      border-bottom: 1px solid white;
      color: white;
      margin: 0;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .basic-h:hover {
        background-color: #FF9B51; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div h6 {
      font-family: 'Cinzel-Regular';
      background-color: #333333;
      padding: 10px 125px;
      border-bottom: 1px solid white;
      color: white;
      margin: 0;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div h6:hover {
        background-color: #FF9B51; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div .anoth-h {
      padding: 10px 118px; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p {
      background-color: #333333;
      padding: 10px 100px;
      margin: 0;
      color: white;
      font-size: 30px;
      border-bottom: 5px solid #FF9B51;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p .zero {
        color: white;
        font-size: 70px; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p .free {
        font-size: 15px;
        color: grey;
        transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p:hover {
        background-color: grey; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p:hover .free {
        color: white; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p-anoth {
      background-color: #333333;
      padding: 10px 100px;
      margin: 0;
      color: white;
      font-size: 30px;
      transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p-anoth .zero {
        color: white;
        font-size: 70px; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p-anoth .free {
        font-size: 15px;
        color: grey;
        transition: all 0.2s ease-in-out 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p-anoth:hover {
        background-color: grey; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .price-p-anoth:hover .free {
        color: white; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div .add-p {
      background-color: #FF9B51;
      padding: 5px 91px;
      color: white;
      margin: 0;
      font-size: 14px; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div .basic-list-div {
      width: 100%;
      border-bottom: 1px solid #F5F5F5;
      display: flex;
      background-color: white;
      justify-content: center;
      padding: 5px 0;
      transition: all 0.2s ease 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .basic-list-div .basic-list {
        font-family: 'Vidaloka-Regular';
        margin: 0;
        font-size: 13px;
        color: grey;
        transition: all 0.2s ease 0.2s; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .basic-list-div:hover {
        background-color: #FF9B51; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .basic-list-div:hover .basic-list {
        color: white; }

.costumer {
  padding: 100px 0; }
  .costumer .container .pricing-title-div {
    flex-direction: column;
    margin-bottom: 50px; }
    .costumer .container .pricing-title-div .awesome-title {
      font-family: 'Cinzel-Regular'; }
    .costumer .container .pricing-title-div .title-stick {
      width: 100px;
      height: 2px;
      background-color: #FF9B51;
      margin: 20px 0; }
  .costumer .container .costumer-box .costumer-div .costumer-text {
    font-family: 'Vidaloka-Regular';
    font-size: 14px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 21% 84%, 15% 96%, 9% 84%, 0 84%);
    background-color: #F5F5F5;
    padding: 50px;
    padding-top: 25px;
    color: grey;
    transition: all 0.2s ease-in-out 0.2s; }
    .costumer .container .costumer-box .costumer-div .costumer-text:hover {
      background-color: #FF9B51;
      color: white; }
  .costumer .container .costumer-box .costumer-div .sircle-img {
    clip-path: circle(50% at 50% 50%);
    height: 100px;
    transition: all 0.2s ease-in-out 0.2s; }
    .costumer .container .costumer-box .costumer-div .sircle-img:hover {
      height: 140px; }
  .costumer .container .costumer-box .costumer-div .costumer-name {
    font-size: 12px; }
    .costumer .container .costumer-box .costumer-div .costumer-name .cost-name {
      font-size: 20px;
      color: black; }

.stylish {
  padding: 100px 0;
  background-image: url(https://images.unsplash.com/photo-1453413453658-27fec8f43f29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-position: center;
  background-size: cover; }
  .stylish .container .pricing-title-div {
    flex-direction: column; }
    .stylish .container .pricing-title-div .awesome-title {
      font-family: 'Cinzel-Regular';
      color: white; }
    .stylish .container .pricing-title-div .title-stick {
      width: 100px;
      height: 1.5px;
      background-color: white;
      margin: 20px 0; }
    .stylish .container .pricing-title-div .dawn {
      padding: 10px 30px;
      margin-top: 30px;
      background: none;
      color: white;
      border: solid;
      transition: all 0.2s ease-in-out 0.2s; }
      .stylish .container .pricing-title-div .dawn:hover {
        background-color: #FF9B51;
        border-radius: 10%; }
      .stylish .container .pricing-title-div .dawn:focus {
        background-color: grey; }

.contact {
  padding: 100px 0; }
  .contact .pricing-title-div {
    flex-direction: column;
    margin-bottom: 50px; }
    .contact .pricing-title-div .awesome-title {
      font-family: 'Cinzel-Regular'; }
    .contact .pricing-title-div .title-stick {
      width: 100px;
      height: 2px;
      background-color: #FF9B51;
      margin: 20px 0; }
  .contact .inp-box .input-form .last-input-box {
    width: 100%; }
    .contact .inp-box .input-form .last-input-box .input-column .last-input {
      width: 500px;
      border: none;
      border-bottom: 1px solid grey;
      padding-left: 10px;
      margin-bottom: 30px; }
    .contact .inp-box .input-form .last-input-box textarea {
      border: none;
      border-bottom: 1px solid grey;
      resize: none;
      width: 500px;
      height: 141px; }
      .contact .inp-box .input-form .last-input-box textarea:focus {
        outline: none; }
    .contact .inp-box .input-form .last-input-box .orange-down {
      background-color: #FF9B51;
      padding: 10px 30px;
      border: none;
      color: white;
      transition: all 0.2s ease-in-out 0.2s; }

footer {
  padding: 20px 0;
  background-color: black; }
  footer .container .footer-img-div {
    margin-bottom: 20px; }
    footer .container .footer-img-div .footer-img img {
      height: 40px;
      margin-right: 10px; }
      footer .container .footer-img-div .footer-img img:last-child {
        margin: 0; }
  footer .container .author {
    margin: 0; }

@media screen and (max-width: 1024px) {
  header .container .nav-box {
    display: none; }
  .sub-list-sect .biss-png {
    transition: all 0.2s ease-in-out 0.2s; }
    .sub-list-sect .biss-png:hover {
      width: 450px; }
  .standart .biss-png:hover {
    width: 420px; }
  .contact .inp-box .input-form .last-input-box .input-column .last-input {
    width: 400px; }
  .contact .inp-box .input-form .last-input-box textarea {
    width: 400px; } }

@media screen and (max-width: 768px) {
  .bg .f-p {
    font-size: 25px; }
  .tab-artc-div .tab-p {
    width: 265px; }
  .sub-list-sect .container {
    flex-direction: column-reverse; }
  .sub-list-sect .sub-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; }
    .sub-list-sect .sub-list-div .sub-list-frs {
      display: flex;
      flex-direction: column;
      align-items: center; }
  .standart .standart-article .standart-p {
    width: 260px; }
    .standart .standart-article .standart-p .ath-span {
      display: none; }
  .awesome .new-d .object-div .design .object-p {
    width: 170px; }
  .pricing-sect .pricing-box .pricing-div {
    flex-direction: column; }
    .pricing-sect .pricing-box .pricing-div .basic-div {
      margin-bottom: 20px; }
      .pricing-sect .pricing-box .pricing-div .basic-div .basic-list-div {
        width: 282px; }
    .pricing-sect .pricing-box .pricing-div .sec-basic-div {
      margin-bottom: 20px; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div:last-child {
        margin-bottom: 0; }
      .pricing-sect .pricing-box .pricing-div .sec-basic-div .basic-list-div {
        width: 316px; }
  .costumer .container .costumer-box .costumer-div .costumer-text {
    width: 220px; }
  .costumer .container .costumer-box .costumer-div .cost-img-div img:hover {
    height: 120px; }
  .contact .inp-box .input-form .last-input-box .input-column .last-input {
    width: 300px; }
  .contact .inp-box .input-form .last-input-box textarea {
    width: 300px; } }
