.container{
    padding: 0;
}
.awe-p{
    font-family: 'Vidaloka-Regular';
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
header{
    background-color: black;
    .container{
        padding: 0;
        .AXiT{
            color: white;
            font-size: 40px;
            text-decoration: none;
            margin-right: 20px;
        }
        .iT{
            color:#FF9B51;
        }
        .nav-box{
            list-style-type: none;
            li{
                font-family: 'Cinzel-Regular';
                text-decoration: none;
                color: white;
                font-size: 15px;
                margin-right: 25px;
                &:last-child{
                    margin-right: 0;
                }
                .li{
                    color: white;
                    font-size: 20px;
                    text-decoration: none;
                    transition: color 0.2s ease-in-out 0.2s;
                    &:hover{
                        color:#FF9B51;
                    }
                }
            }
        }
    }
}
.bg{
    width: 100%;
    height: 700px;
    background-image: url(http://i.imgur.com/uE5j5Pb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .h-AX{
        font-size: 70px;
        color: white;
        .iT{
            color:#FF9B51;
        }
    }
    .f-p{
        font-family: 'Cinzel-Regular';
        font-size: 40px;
        color: white;
        padding: 0;
        margin: 0;
    }
    .stick{
        background-color: white;
        width: 100px;
        height: 2px;
        margin: 40px 0;
    }
    .sec-p{
        font-family: 'Vidaloka-Regular';
        color: white;
    }
    .dawn{
        padding: 10px 30px;
        margin-top: 30px;
        background: none;
        color: white;
        border: solid;
        transition: all 0.2s ease-in-out 0.2s;
        &:hover{
            background-color:#FF9B51;
            border-radius: 10%;
        }
        &:focus{
            background-color: grey;
        }
    }
}
.sec-bg-div{
    background-color: white;
    .iT{
        color:#FF9B51;
    }
    .sec-bg-div-p{
        color:black;
        margin: 0;
        background-color: #F5F5F5;
        padding: 10px 35px;
        margin-bottom: 30px;
    }
    .f-form{
        display: flex;
        flex-direction: column;
        align-items: center;;
        .f-input{
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid grey;
            padding-left: 10px;
            width: 250px;
        }
    }
    .get-started{
        background-color: #FF9B51;
        padding: 10px 50px;
        border: none;
        width: 300px;
        color: white;
    }
}
.social-sect{
    .social-h{
        font-family: 'Cinzel-Regular';
        font-size: 40px;
        margin: 0;
    }
    .soc-p{
        font-family: 'Vidaloka-Regular';
    }
    .soc-img-div{
        &:last-child{
            margin: 0;
        }
        .social-img{
            height: 50px;
            margin-right: 10px;
        }
    }
}
.tab-sect{
    padding: 100px 0;
    background-color: #F5F5F5;
    .tab-butt-div{
        flex-direction: column;
        .tab-butt{
            background-color: black;
            color: white;
            padding: 35px;
            border: 1px solid grey;
            transition: all 0.2s ease-in-out 0.2s;
            &:hover{
                background-color:#FF9B51;
                border:1px solid #FF9B51;
            }
        }
    }
    .tab-artc-div{
        .tab-h{
            font-family: 'Cinzel-Regular';
            margin-bottom: 30px;
        }
        .tab-p{
            font-family: 'Vidaloka-Regular';
            margin-bottom: 30px;
        }
        .orange-down{
            background-color:#FF9B51 ;
            padding:10px 30px;
            border: none;
            color: white;
            transition: all 0.2s ease-in-out 0.2s;
            &:hover{
                background-color:#FF9B51;
                border-radius: 10%;
            }
            &:focus{
                background-color: grey;
            }
        }
    }
    .build{
        width: 250px;
    }
}
.sub-list-sect{
    padding: 100px 0;
    .biss-png{
        width: 400px;
        transition: all 0.2s ease-in-out 0.2s;
        &:hover{
            width: 550px;
        }
    }
    .sub-list-frs{
        margin-bottom: 30px;
        .sub-list-h{
            font-family: 'Cinzel-Regular';
        }
        .sub-list-p{
            font-family: 'Vidaloka-Regular';
        }
        .orange-stick{
            background-color:#FF9B51;
            height: 2px;
            width: 70px;
            margin: 30px 0;
        }
    }
    .title-div{
        margin-bottom: 20px;
        &:last-child{
            margin: 0;
        }
        .sircle{
            background-color: none;
            border: 2px solid #FF9B51;
            border-radius: 50%;
            height: 45px;
            width: 45px;
            margin-right: 20px;
            transition: all 0.2s ease-in-out 0.2s;
            &:hover{
                height: 60px;
                width: 60px;
                border-radius: 75%;
            }
            .otx{
                width: 10px;
                height: 15px;
                background-color:#FF9B51 ;
            }
        }
            .title-div-p{
                font-family: 'Vidaloka-Regular';
            }
    }
}
.standart{
    padding: 100px 0;
    background-color: #F5F5F5;
    .standart-article{
        .standart-artc-h{
            font-family: 'Cinzel-Regular';
        }
        .standart-p{
            font-family: 'Vidaloka-Regular';
        }
        .orange-stick{
            background-color:#FF9B51;
            height: 2px;
            width: 70px;
            margin: 30px 0;
        }
    }
    .biss-png{
        width: 400px;
        transition: all 0.2s ease-in-out 0.2s;
        &:hover{
            width: 440px;
        }
    }
}
.awesome{
    padding: 100px 0;
    .new-d{
        flex-direction: column;
        .awesome-div{
            flex-direction: column;
            margin-bottom: 50px;
            .awesome-title{
                font-family: 'Cinzel-Regular';
            }
            .title-stick{
                width: 100px;
                height: 2px;
                background-color: #FF9B51;
                margin: 20px 0;
            }
            .awe-p{
                font-family: 'Vidaloka-Regular';
            }
        }
        .object-div{
            width: 100%;
            .design{
                flex-direction: column;
                .object-p{
                    font-family: 'Vidaloka-Regular';
                }
                .object-sircle{
                    width: 60px;
                    height: 60px;
                    border: 2px solid #FF9B51;
                    border-radius: 50%;
                    transition: all 0.2s ease-in-out 0.2s;
                    &:hover{
                        background-color:#FF9B51 ;
                    }
                    &:hover .object-otx{
                        background-color:white ;
                    }
                    &:hover .object-otx-sec{
                        background-color:white ;
                    }
                    .object-otx{
                        width: 15px;
                        height: 20px;
                        background-color:#FF9B51 ;
                        transition: all 0.2s ease-in-out 0.2s;
                    }
                    .object-otx-sec{
                        width: 15px;
                        height: 20px;
                        background-color:#FF9B51 ;
                        margin-right: 10px;
                        transition: all 0.2s ease-in-out 0.2s;
                    }
                    
                }
                .object-title{
                    font-family: 'Cinzel-Regular';
                    margin: 20px 0;
                }
            }
        }
    }
}
.pricing-sect{
    padding: 100px 0;
    background-color: #F5F5F5;
    .pricing-box{
        flex-direction: column;
        .pricing-title-div{
            flex-direction: column;
            margin-bottom: 50px;
            .awesome-title{
                font-family: 'Cinzel-Regular';
            }
            .title-stick{
                width: 100px;
                height: 2px;
                background-color: #FF9B51;
                margin: 20px 0;
            }
        }
        .pricing-div{
            .basic-div{
                .basic-h{
                    font-family: 'Cinzel-Regular';
                    background-color: #333333;
                    padding: 10px 123px;
                    border-bottom: 1px solid white;
                    color: white;
                    margin: 0;
                    transition: all 0.2s ease-in-out 0.2s;
                    &:hover{
                        background-color:#FF9B51 ;
                    } 
                }
                h6{
                    font-family: 'Cinzel-Regular';
                    background-color: #333333;
                    padding: 10px 125px;
                    border-bottom: 1px solid white;
                    color: white;
                    margin: 0;
                    transition: all 0.2s ease-in-out 0.2s;
                    &:hover{
                        background-color:#FF9B51 ;
                    }
                }
                .anoth-h{
                    padding: 10px 119px;
                }
                .price-p{
                    background-color: #333333;
                    padding: 10px 100px;
                    margin: 0;
                    color: white;
                    font-size: 30px;
                    border-bottom: 5px solid #FF9B51;
                    transition: all 0.2s ease-in-out 0.2s;
                    .zero{
                        color: white;
                        font-size: 70px;
                    }
                    .free{
                        font-size:15px;
                        color: grey;
                        transition: all 0.2s ease-in-out 0.2s;
                    }
                    &:hover{
                        background-color: grey;
                    }
                    &:hover .free{
                        color: white;
                    }
                }
                .price-p-anoth{
                    background-color: #333333;
                    padding: 10px 100px;
                    margin: 0;
                    color: white;
                    font-size: 30px;
                    transition: all 0.2s ease-in-out 0.2s;
                    .zero{
                        color: white;
                        font-size: 70px;
                    }
                    .free{
                        font-size:15px;
                        color: grey;
                        transition: all 0.2s ease-in-out 0.2s;
                    }
                    &:hover{
                        background-color: grey;
                    }
                    &:hover .free{
                        color: white;
                    }
                }
                .add-p{
                    background-color: #FF9B51;
                    padding: 5px 91px;
                    color: white;
                    margin: 0;
                    font-size: 14px;
                }
                .basic-list-div{
                    width: 100%;
                    border-bottom: 1px solid #F5F5F5;
                    display: flex;
                    background-color: white;
                    justify-content: center;
                    padding: 5px 0;
                    transition: all 0.2s ease 0.2s;
                    .basic-list{
                        font-family: 'Vidaloka-Regular';
                        margin: 0;
                        font-size: 13px;
                        color: grey;
                        transition: all 0.2s ease 0.2s;
                    }
                    &:hover{
                        background-color:#FF9B51 ;
                    }
                    &:hover .basic-list{
                        color:white ;
                    }
                }
            }
            .sec-basic-div{
                .basic-h{
                    font-family: 'Cinzel-Regular';
                    background-color: #333333;
                    padding: 10px 123px;
                    border-bottom: 1px solid white;
                    color: white;
                    margin: 0;
                    transition: all 0.2s ease-in-out 0.2s;
                    &:hover{
                        background-color:#FF9B51 ;
                    } 
                }
                h6{
                    font-family: 'Cinzel-Regular';
                    background-color: #333333;
                    padding: 10px 125px;
                    border-bottom: 1px solid white;
                    color: white;
                    margin: 0;
                    transition: all 0.2s ease-in-out 0.2s;
                    &:hover{
                        background-color:#FF9B51 ;
                    }
                }
                .anoth-h{
                    padding: 10px 119px;
                }
                .price-p{
                    background-color: #333333;
                    padding: 10px 100px;
                    margin: 0;
                    color: white;
                    font-size: 30px;
                    border-bottom: 5px solid #FF9B51;
                    transition: all 0.2s ease-in-out 0.2s;
                    .zero{
                        color: white;
                        font-size: 70px;
                    }
                    .free{
                        font-size:15px;
                        color: grey;
                        transition: all 0.2s ease-in-out 0.2s;
                    }
                    &:hover{
                        background-color: grey;
                    }
                    &:hover .free{
                        color: white;
                    }
                }
                .price-p-anoth{
                    background-color: #333333;
                    padding: 10px 100px;
                    margin: 0;
                    color: white;
                    font-size: 30px;
                    transition: all 0.2s ease-in-out 0.2s;
                    .zero{
                        color: white;
                        font-size: 70px;
                    }
                    .free{
                        font-size:15px;
                        color: grey;
                        transition: all 0.2s ease-in-out 0.2s;
                    }
                    &:hover{
                        background-color: grey;
                    }
                    &:hover .free{
                        color: white;
                    }
                }
                .add-p{
                    background-color: #FF9B51;
                    padding: 5px 91px;
                    color: white;
                    margin: 0;
                    font-size: 14px;
                }
                .basic-list-div{
                    width: 100%;
                    border-bottom: 1px solid #F5F5F5;
                    display: flex;
                    background-color: white;
                    justify-content: center;
                    padding: 5px 0;
                    transition: all 0.2s ease 0.2s;
                    .basic-list{
                        font-family: 'Vidaloka-Regular';
                        margin: 0;
                        font-size: 13px;
                        color: grey;
                        transition: all 0.2s ease 0.2s;
                    }
                    &:hover{
                        background-color:#FF9B51 ;
                    }
                    &:hover .basic-list{
                        color:white ;
                    }
                }
            }
        }
    }
}
.costumer{
    padding: 100px 0;
    .container{
        .pricing-title-div{
            flex-direction: column;
            margin-bottom: 50px;
            .awesome-title{
                font-family: 'Cinzel-Regular';
            }
            .title-stick{
                width: 100px;
                height: 2px;
                background-color: #FF9B51;
                margin: 20px 0;
            }
        }
        .costumer-box{
            .costumer-div{
                .costumer-text{
                    font-family: 'Vidaloka-Regular';
                    font-size: 14px;
                    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 21% 84%, 15% 96%, 9% 84%, 0 84%);
                    background-color: #F5F5F5;
                    padding: 50px;
                    padding-top: 25px;
                    color: grey;
                    transition: all 0.2s ease-in-out 0.2s;
                    &:hover{
                        background-color:#FF9B51;
                        color: white;
                    }
                }
                .sircle-img{
                    clip-path: circle(50% at 50% 50%);
                    height: 100px;
                    transition: all 0.2s ease-in-out 0.2s;
                    &:hover{
                        height: 140px;
                    }
                }
                .costumer-name{
                    font-size: 12px;
                    .cost-name{
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }
    }
}
.stylish{
    padding: 100px 0;
    background-image: url(https://images.unsplash.com/photo-1453413453658-27fec8f43f29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-position: center;
    background-size: cover;
    .container{
        .pricing-title-div{
            flex-direction: column;
            .awesome-title{
                font-family: 'Cinzel-Regular';
                color: white;
            }
            .title-stick{
                width: 100px;
                height: 1.5px;
                background-color:white;
                margin: 20px 0;
            }
            .dawn{
                padding: 10px 30px;
                margin-top: 30px;
                background: none;
                color: white;
                border: solid;
                transition: all 0.2s ease-in-out 0.2s;
                &:hover{
                    background-color:#FF9B51;
                    border-radius: 10%;
                }
                &:focus{
                    background-color: grey;
                }
            }
        }  
    }
}
.contact{
    padding: 100px 0;
    // .container{
        .pricing-title-div{
            flex-direction: column;
            margin-bottom: 50px;
            .awesome-title{
                font-family: 'Cinzel-Regular';
            }
            .title-stick{
                width: 100px;
                height: 2px;
                background-color: #FF9B51;
                margin: 20px 0;
            }
        }
        .inp-box{
            .input-form{
                .last-input-box{
                    width: 100%;
                    .input-column{
                        .last-input{
                            width: 500px;
                            border: none;
                            border-bottom: 1px solid grey;
                            padding-left: 10px;
                            margin-bottom: 30px;
                        }
                    }         
                    textarea{
                        border: none;
                        border-bottom: 1px solid grey;
                        resize: none;
                        width: 500px;
                        height: 141px;
                        &:focus{
                            outline: none;
                        }
                    }
                    .orange-down{
                        background-color:#FF9B51 ;
                        padding:10px 30px;
                        border: none;
                        color: white;
                        transition: all 0.2s ease-in-out 0.2s;
                    }
                }
            }
        }
}
footer{
    padding: 20px 0;
    background-color: black;
    .container{
        .footer-img-div{
            margin-bottom: 20px;
            .footer-img img{
                height: 40px;
                margin-right: 10px;
                &:last-child{
                    margin: 0;
                }
            }
        }
        .author{
            margin: 0;
        }
    }
}
@media screen and (max-width:1024px){
    header{
        .container{
            .nav-box{
                display: none;
            }
        }
    }
    .sub-list-sect{
        .biss-png{
            transition: all 0.2s ease-in-out 0.2s;
            &:hover{
                width: 450px;
            }
        }
    }
    .standart{
        .biss-png{
            &:hover{
                width: 420px;
            }
        }
    }
    .contact{
        .inp-box{
            .input-form{
                .last-input-box{
                    .input-column{
                        .last-input{
                            width: 400px;
                        }
                    }         
                    textarea{
                        width: 400px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    header{
        .container{
            .nav-box{
            }
        }
    }
    .bg{
        .f-p{
            font-size: 25px;
        }
    }
    .tab-artc-div{
        .tab-p{
            width: 265px;
        }
    }
    .sub-list-sect{
        .container{
            flex-direction: column-reverse;
        }
        .sub-list-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            .sub-list-frs{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .standart{
        .standart-article{
            .standart-p{
                width: 260px;
                .ath-span{
                    display: none;
                }
            }
        }
    }
    .awesome{
        .new-d{
            .object-div{
                .design{
                    .object-p{
                        width: 170px;
                    }
                }
            }
        }
    }
    .pricing-sect{
        .pricing-box{
            .pricing-div{
               flex-direction: column;
               .basic-div{
                margin-bottom: 20px;
                   .basic-list-div{
                    width: 282px;
                    }
               }
               .sec-basic-div{
                    &:last-child{
                        margin-bottom: 0;
                    }
                   margin-bottom: 20px;
                    .basic-list-div{
                    width: 316px;
                    }
                } 
            }
        }
    }
    .costumer{
        .container{
            .costumer-box{
                .costumer-div{
                    .costumer-text{
                        width: 220px;
                    }
                    .cost-img-div img{
                        &:hover{
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
    .contact{
        .inp-box{
            .input-form{
                .last-input-box{
                    .input-column{
                        .last-input{
                            width: 300px;
                        }
                    }         
                    textarea{
                        width: 300px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:480px){

}
